/*
 * Some custom css
 */

body {
	position: relative;
}

a:hover {
  text-decoration: none;
}

.post-link {
  color: white;
}

.post-link:hover {
  color: #BBB;  
}

.index-body {
	position: relative;
	padding-top: 70px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(217, 217, 220, 0.4);
}

.footer {
	padding-right: 1em;
	padding-left: 1em;
}

.social {
	padding-right: 1em;
}

.scrollspy {
	overflow-y: scroll;
}

.title-row {
	background-color: white;
}

.sidenav.sticky {
	position: fixed;
}

.anchor-header {
	padding-top: 55px;
  	margin-top: -55px;
}

/*.jumbotron {
  background-color: white;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}*/

.build-info-tag {
	height:18px;
}

.project-title {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}

.project-title .panel-footer {
  background-color: #DEE;
}
  
.about-section {
  padding: 30px;
}

@font-face{
  font-family: Cabin;
  src: url(/fonts/cabin/Cabin-Regular.otf);
}

@font-face{
  font-family: Cabin;
  src: url(/fonts/cabin/Cabin-Bold.otf);
  font-weight: bold;
}

@font-face{
  font-family: Cabin;
  src: url(/fonts/cabin/Cabin-Italic.otf);
  font-style: italic;
}

@font-face{
  font-family: Cabin;
  src: url(/fonts/cabin/Cabin-BoldItalic.otf);
  font-style: italic;
  font-weight: bold;
}


@font-face{
  font-family: AbeeZee;
  src: url(/fonts/abeezee/AbeeZee-Regular.otf);
}

@font-face{
  font-family: AbeeZee;
  src: url(/fonts/abeezee/AbeeZee-Italic.otf);
  font-style: italic;
}

div,p {
  font-family: Cabin;
  font-size: 18px;
  line-height: 140%;
}

.gist div {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 12px;
}

.img_link {
  padding-bottom: 10px;
}
