/*
 * Some custom css
 */

body {
	position: relative;
}

a:hover {
  text-decoration: none;
}

.post-link {
  color: #CDD;
}

.post-link:hover {
  color: #EEE;  
}

.index-body {
	position: relative;
	padding-top: 70px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(217, 217, 220, 0.4);
}

.footer {
	padding-right: 1em;
	padding-left: 1em;
}

.gist {
    font-size: 0.85em;
}


.social {
	padding-right: 1em;
}

.scrollspy {
	overflow-y: scroll;
}

.title-row {
	background-color: white;
}

.sidenav.sticky {
	position: fixed;
}

.jumbotron {
  	background-color: #EFF;
  	border-radius: 5px;
}

.anchor-header {
	padding-top: 55px;
  	margin-top: -55px;
}

.welcome-section {
	padding-right: 1em;
	padding-left: 1em;
	background-color: #EFF;
	border-radius: 5px;  
}

.build-info-tag {
	height:18px;
}

.project-title {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}

.project-title .panel-body {
	background-color: #EFF;
}

.project-title .panel-footer {
  	background-color: #DEE;
}
  
.about-section {
  	padding: 30px;
	background-color: #EFF;
}

.about-section p {
	font-size: 21px;
}
