/*
 * Some custom css
 */

body {
	position: relative;
}

a {
	text-decoration: none;
}

.index-body {
	position: relative;
	padding-top: 70px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(217, 217, 220, 0.4);
}

.footer {
	padding-right: 1em;
	padding-left: 1em;
}

.gist {
    font-size: 0.85em;
}


.social {
	padding-right: 1em;
}

.scrollspy {
	overflow-y: scroll;
}

.post-title a {
	color: white;
}

.title-row {
	background-color: white;
}
/*
.sidenav.sticky { float: none; position: fixed; top: 20px; z-index: 6; left: auto; }
*/