---
layout: default
published: true
---

<div class="project-title panel panel-default">
  <div class="panel-body">
    <h1><a href="{{ page.link }}" target="_blank">{{ page.item_title }}</a> <br class="visible-xs"><small>{{ page.tagline }}</small></h1>
  </div>
  {% if page.travis or page.coveralls %}
  <div class="panel-footer">
  	{% if page.travis %}
  	<a href="{{ page.travis }}" target="_blank"><img class="build-info-tag" src="{{ page.travis }}.png"></a>
  	{% endif %}
  	{% if page.coveralls and page.coveralls-badge %}
  	<a href="{{ page.coveralls }}" target="_blank"><img class="build-info-tag" src="{{ page.coveralls-badge }}"></a>
  	{% endif %}
  </div>
  {% endif %}
</div>
<div class="content">{{ content }}</div>
